@import '../../styles/helpers/helpers';

// ########################
// STACK PROPERTIES
// ########################
.db-stack {
    padding: 20px;
    border-radius: 15px;
    background-color: $gray-300;

    button {
        padding: 15px;
        margin: 6px;
        border-radius: 15px;
        background-color: $gray-350;

        i {
            color: $gray-500;
            font-size: 35px;
        }

        &:hover {
            color: $gray-500;
            background-color: $gray-400;
        }

        img {
            opacity: 0.5;
        }
    }
}

//! Delete later
.disabled {
    pointer-events: none;
    opacity: 0.3;
}
