@import '../../styles/helpers/helpers';

// ########################
// NAVIGATION PROPERTIES
// ########################
.navigation {
    display: flex;
    align-items: center;

    height: 55px;
    background-color: $white;
}

.nav-header {
    button {
        display: none;
        padding: 0px 25px;
        height: 52px;
        float: right;
        background-color: transparent;

        i {
            color: $gray-800;
            font-size: 25px;
        }
    }
    img {
        margin-top: 5px;
        margin-left: 25px;
    }
}

.nav-container {
    display: flex;
    align-items: center;
}

.nav-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.main-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 5px;
}

.small-navigation {
    display: none;
}

.sub-navigation {
    display: flex;
    align-items: center;
}

.primary-navigation,
.secondary-navigation {
    display: flex;
    list-style: none;
}

.nav-item {
    margin-right: 25px;

    a {
        color: $gray-800;
        text-decoration: none;

        &:hover {
            color: $gray-500;
        }
    }
}

// ------------------------
// SEARCHBAR PROPERTIES
// ------------------------
.searchbar-container,
.res-searchbar-container {
    input {
        font-size: 16px;
        color: $gray-500;

        border: none;
        border-radius: 8px;
        padding: 10px;
        width: 200px;
        background-color: $gray-300;

        &::placeholder {
            color: $gray-500;
        }

        &:focus {
            outline: none;
            width: 250px;
            border-radius: 8px;
            box-shadow: 0 0 0 1pt #d8d8d8 inset;
        }
    }
}

.select-navigation {
    display: none;
    border-radius: 25px;
}

.sml-screen {
    flex-direction: column;
}

.css-1pahdxg-control {
    width: 170px;
}

.css-yk16xz-control {
    width: 170px;
    border-radius: 8px !important;
}

// ------------------------
// USER CONTENT PROPERTIES
// ------------------------
.user-content {
    display: flex;
    align-items: center;

    img {
        margin-right: 8px;
        border-radius: 8px;
    }

    button {
        // display: flex;
        // align-items: center;
        font-size: 16px;
        color: $gray-800;
        // text-decoration: none;
        margin-right: 8px;
    }

    i {
        color: $gray-500;
    }
}

.user-navbar-properties {
    display: flex;
}

// ########################
// RESPONSIVE PROPERTIES
// ########################

@media (max-width: 910px) {
    .navigation {
        height: 100%;
    }

    .select-navigation {
        display: inline;
        margin-left: 35px;
    }

    .primary-navigation {
        display: none;
    }
}

@media (min-width: 701px) {
    .nav-content {
        display: flex !important;
    }
}

@media (max-width: 700px) {
    .navigation {
        height: 100%;
        flex-direction: column;
    }

    .nav-container {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    .nav-header {
        width: 100%;

        button {
            display: initial;

            &:focus {
                outline: none;
            }
        }
    }

    .nav-content {
        flex-direction: column;
        align-items: baseline !important;
        margin-left: 15px;
        padding-bottom: 15px;
    }

    .main-navigation {
        img {
            padding: 5px;
        }

        padding: 0px;
        align-items: flex-start;
        flex-direction: column;
    }

    .select-navigation {
        margin: 15px 0px;
    }

    .searchbar-container {
        margin-bottom: 15px;
        margin-right: 0px !important;
    }
}
