@import '../../styles/helpers/helpers';

// #########################
// HOME PROPERTIES
// #########################
.home {
    display: flex;
    justify-content: center;
    h3 {
        color: $gray-500;

        i {
            margin: 0px 9px;
        }
    }
}
