@import '../../styles/helpers/helpers';

// ########################
// FOOTER PROPERTIES
// ########################
footer {
    margin: 35px 0px;
    position: relative;
}

.branding {
    color: $gray-800;
    float: right;
}

.footer-items {
    h3 {
        color: $gray-800;
    }

    ul {
        list-style: none;
        li {
            margin-top: 12px;

            a {
                color: $gray-500;
                text-decoration: none;

                &:hover {
                    @include refer-hover;
                }
            }
        }
    }
}

@media (max-width: 1056px) {
    footer {
        margin: 35px;
    }
}
